#root {
  width: 100vw;
  height: 100vh;
  background-color: #181a1b;
  display: flex;
  justify-content: center;
}

.main-container {
  width: 948px;
  height: 888px;
  background-image: url('clue_scroll_torn.png');
  background-size: cover;
  background-position: center;
  background-position: center;
}