#root {
  width: 100vw;
  height: 100vh;
  background-color: #181a1b;
  display: flex;
  justify-content: center;
}

@font-face {
  font-family: 'Quill8';
  src:url('RuneScape-Quill-8.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.main-container {
  width: 948px;
  height: 888px;
  background-image: url('clue_scroll_torn.png');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
}

.top-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chatbox-container {
  width: 707.25px; /*original: 943px*/
  height: 195px;/*original: 260px*/
  background-image: url('chatbox.png');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  gap: 100px;
}

.bottom-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}