.chathead-container {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chathead-image {
  width: var(--img-width, 105px);
  height: var(--img-height, 125px);
  position: relative;
  left: var(--img-x, 0px);
  top: var(--img-y, 0px);
}

.chathead-image.flipped {
  transform: scaleX(-1);
}